.accordion-item h2 {
/* font-size: 18px; */

}
/* .custom-header::after{
    content: none;
} */


.btn-accordeon{
    /* border: none;
    background-color: transparent;
    font-weight: bold;
    /* width: 100%; */
    /* text-align: left; */

}
/* 
.accordion-item .collapsed{
    background-color: #;
} */

/* .accordion-header .collapsed h2 {
margin: 2;
} */