<section class="container pt-4 pb-4">

   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item">
            <a href="#" [routerLink]="'/client-page/accueil'"> Accueil</a>
         </li>
         <li class="breadcrumb-item active" aria-current="page">Offres</li>
      </ol>
   </nav>

   <div class="row">
      <div class="col-md-4">
         <div ngbAccordion [closeOthers]="false" class="accordion-item">
            <!-- @for (item of items; track item) { -->
            <!-- <div ngbAccordionItem [collapsed]="item !== 'First'"> -->
            <div ngbAccordionItem [collapsed]="false">
               <h2 ngbAccordionHeader>
                  <!-- <button class="" ngbAccordionButton>{{ item }}</button> -->
                  <button class="" ngbAccordionButton>Secteurs d'activite</button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                           <label class="form-check-label" for="flexCheckDefault1">
                              Resources-humaines
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                           <label class="form-check-label" for="flexCheckDefault2">
                              Developpement
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                           <label class="form-check-label" for="flexCheckDefault3">
                              Comptabilité
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                           <label class="form-check-label" for="flexCheckDefault4">
                              Architecture
                           </label>
                        </div>
                     </ng-template>
                  </div>
               </div>
            </div>
            <div ngbAccordionItem>
               <h2 ngbAccordionHeader>
                  <button class="" ngbAccordionButton>Niveaux d'étude</button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                           <label class="form-check-label" for="flexCheckDefault1">
                              BAC
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                           <label class="form-check-label" for="flexCheckDefault2">
                              BAC +1
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                           <label class="form-check-label" for="flexCheckDefault3">
                              BAC +2
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                           <label class="form-check-label" for="flexCheckDefault4">
                              BAC +3
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                           <label class="form-check-label" for="flexCheckDefault4">
                              BAC +4
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                           <label class="form-check-label" for="flexCheckDefault4">
                              BAC +5
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                           <label class="form-check-label" for="flexCheckDefault4">
                              BAC +5 et plus
                           </label>
                        </div>
                     </ng-template>
                  </div>
               </div>
            </div>
            <div ngbAccordionItem>
               <h2 ngbAccordionHeader>
                  <button class="" ngbAccordionButton>Niveau d'expérience</button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                           <label class="form-check-label" for="flexCheckDefault1">
                              Etudiant, jeune diplômé
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                           <label class="form-check-label" for="flexCheckDefault2">
                              Debutant < 2ans </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                           <label class="form-check-label" for="flexCheckDefault3">
                              Expérience entre 2 ans et 5 ans
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                           <label class="form-check-label" for="flexCheckDefault4">
                              Expérience entre 5 ans et 10 ans
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                           <label class="form-check-label" for="flexCheckDefault4">
                              Expérience > 10 ans
                           </label>
                        </div>
                     </ng-template>
                  </div>
               </div>
            </div>
            <div ngbAccordionItem>
               <h2 ngbAccordionHeader>
                  <button class="" ngbAccordionButton>Type de contrat</button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                           <label class="form-check-label" for="flexCheckDefault1">
                              CDI
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                           <label class="form-check-label" for="flexCheckDefault2">
                              CDD
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                           <label class="form-check-label" for="flexCheckDefault3">
                              Stage
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                           <label class="form-check-label" for="flexCheckDefault4">
                              Formation
                           </label>
                        </div>
                     </ng-template>
                  </div>
               </div>
            </div>
            <!-- } -->
         </div>
         <!-- <accordion [isAnimated]="true">
                <accordion-group heading="Secteurs d'activite" class="test">
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       Resources-humaines
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       Developpement
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       Comptabilité
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                     Architecture
                    </label>
                 </div>
                </accordion-group>
                <accordion-group heading="Niveaux d'étude">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                     BAC
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                     BAC+1
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                     BAC+2
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      BAC+3
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      BAC+4
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      BAC+5 Et plus
                    </label>
                 </div>
                </accordion-group>
                <accordion-group heading="Niveaux d'expérience">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Etudiant, jeune diplômé
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                     Debutant < 2ans
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Expérience entre 2 ans et 5 ans
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Expérience entre 5 ans et 10 ans 
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Expéreience > 10 ans                   
                    </label>
                 </div>
                </accordion-group>
                <accordion-group heading="Types de contrat">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       CDD
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       CDI
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Stage
                    </label>
                 </div>
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                       Formation
                    </label>
                 </div>
                </accordion-group>
            </accordion> -->
      </div>
      <div class="col-md-8 col-sm-12">

         <div class="card bg-white border-0 shadow">
            <div class="card-body">
               <p>
                  <b>10</b> offres d'emploi trouvées
               </p>

               @for(offre of OffreList ; track offre.id) { 

               <div class="row offres" (click)="openDetOffre(offre.id)">
                  <div class="col-md-3 offres-img">

                     <div style="text-align: center; vertical-align: middle;" class="logo">
                        <img src="/assets/images/logo-new.png" class="img-responsive img-circle" width="140px"
                           height="140px" alt="">
                     </div>
                  </div>
                  <div class="col-md-8 offre-desc">
                     <h4>{{offre.titre}}</h4>
                     <div>
                        <span> Echéance: {{offre.dateFin}} | </span>
                        <span class="offre-entreprise">GS2E</span>

                     </div>
                     <p>{{offre.mission}}</p>
                     <div>
                        <span>Compétences clés : </span>
                        <span>{{offre.competence}}</span>
                     </div>

                  </div>

               </div>
            }  @empty {
               <p>Aucun(e) donnee en base </p>
                 }

            </div>
            <div class="card-footer d-flex justify-content-center">
               <nav aria-label="...">
                  <ul class="pagination">
                     <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                           <span aria-hidden="true">&laquo;</span>
                        </a>
                     </li>
                     <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">1</a>
                     </li>
                     <li class="page-item"><a class="page-link" href="#">2</a></li>
                     <li class="page-item"><a class="page-link" href="#">3</a></li>
                     <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                           <span aria-hidden="true">&raquo;</span>
                        </a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>


      </div>

   </div>
</section>