<nav class="navbar navbar-expand-md pt-4 justify-content-center">
    <div class="container-fluid">
        <a href="#" [routerLink]="'/client-page/accueil'" class="navbar-brand d-flex me-auto"><img src="assets/images/logo-new.png" class="logo" alt="" srcset=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item me-md-4 me-sm-0">
                    <a class="nav-link {{routeModule?.url?.includes('accueil')? 'active-menu': ''}}" aria-current="page" href="#" [routerLink]="'/client-page/accueil'">Accueil</a>
                </li>
                <li class="nav-item me-md-4 me-sm-0">
                    <a class="nav-link {{routeModule?.url?.includes('offres')? 'active-menu': ''}}" href="#" [routerLink]="'/client-page/offres'">Offres</a>
                </li>
                <!-- <li class="nav-item me-md-4 me-sm-0">
                    <a class="nav-link" href="#">A Propos de nous</a>
                </li> -->
                <li class="nav-item me-md-2 me-sm-0">
                    <a class="nav-link menu-item-login" (click)="goToLoginPage()">Se Connecter / Créér un compte</a>
                </li>

            </ul>
            <!-- <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
            </ul> -->
        </div>
    </div>
</nav>