.header-style{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/images/image-demande-emploi.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 500px; */
}