<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Tests</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-sm btn-primary" (click)="openModal(template)">
        <span data-feather="calendar" class="align-text-bottom"></span>
        Ajouter un test
      </button>
    </div>
  </div>

  <h2>Liste des tests</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Libelle</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>random</td>
          <td>irrelevant</td>

          <td>
            <button type="button" class="btn btn-warning">Modifier</button>&nbsp;
            <button type="button"  class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>
            <button type="button" class="btn btn-warning">Modifier</button>&nbsp;
            <button type="button"  class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>data</td>
          <td>rich</td>
          <td>
            <button type="button" class="btn btn-warning">Modifier</button>&nbsp;
            <button type="button"  class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
  </div>
  
<ng-template #template let-modal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Ajout d'un poste</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <form>
    <div class="modal-body">
            <div class="mb-3">
                <label for="inputPassword5" class="form-label">Titre</label>
                <input type="text" id="inputPassword5" class="form-control" placeholder="veuillez renseigner le titre du poste" aria-describedby="passwordHelpBlock">
            </div> 
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Missions</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>   
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Competences</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div> 
              <div class="mb-3">
                <label for="inputPassword5" class="form-label">Date d'expiration</label>
                <input type="date" id="inputPassword5" class="form-control" placeholder="veuillez renseigner le titre du poste" aria-describedby="passwordHelpBlock">
            </div>  
            <div class="mb-3">
                <label for="inputPassword5" class="form-label">Nombre de poste</label>
                <input type="number" min="1" id="inputPassword5" class="form-control"  aria-describedby="passwordHelpBlock">
            </div> 
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit">Valider</button>
    </div>
</form>
  </ng-template>
