<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="#" [routerLink]="'/client-page/accueil'">Accueil</a>
        </li>
        <li>
            <a href="#" [routerLink]="'/client-page/offres'">offres</a>
        </li>
        <li class="active">Details</li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Entreprise</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9 entreprise">
                            <h3> GROUPEMENT DES SERVICES EAU ET ELECTRICITE</h3>
                            <div class="titre">
                                <span class="secteur"> Secteur d'activité :</span>
                                Developpement web
                            </div>
                            <div class="titre">
                                <span class="secteur">offres d'emploi :</span>
                                <a>voir toutes les annonces</a>
                            </div>
                        </div>
                        <div class="row offres">
                            <div class="col-md-3 offres-img">
                                <div style="text-align: center; vertical-align: middle;" class="logo">
                                    <img
                                        src="/assets/images/logo_GS2E.jpg"
                                        class="img-responsive img-circle"
                                        width="140px"
                                        height="140px"
                                        alt=""
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Détails de l'offre</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="posteProposé">
                                <span>Poste proposé : Développeur JAVA</span>
                            </div>
                            <div class="detMission">
                                <span>vos missions au quotidien</span>
                            </div>

                            <div class="texte">
                                <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo corporis numquam alias, asperiores, laborum, atque ad eligendi iure officiis ipsum natus. Dignissimos nostrum minima, ratione cumque pariatur hic illum! Veniam.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In ipsum illo obcaecati ex nobis, maiores omnis aperiam odit sapiente accusantium quae nisi laborum sed quasi? Cumque consectetur fuga rem impedit?
                                    lo
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <button type="button" class="btn" aria-label="Left Align">
            <span> Postuler à l'offre</span>
          </button>
    </div>
</div>

