    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" [routerLink]="'/admin-page/dashboard'" >
            <span data-feather="home" class="align-text-bottom"></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  [routerLink]="'/admin-page/poste'" >
            <span data-feather="file" class="align-text-bottom"></span>
            Postes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="'/admin-page/test'" >
            <span data-feather="shopping-cart" class="align-text-bottom"></span>
            Tests
          </a>
        </li>
        
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Parametres</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="'/admin-page/domainActivites'" >
            <span data-feather="file-text" class="align-text-bottom"></span>
            Domaines d'activité
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="'/admin-page/niveauExperiences'">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Niveau d'expérience
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="'/admin-page/niveauEtudes'">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Niveau d'étude
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="'/admin-page/typeContrats'">
            <span data-feather="file-text" class="align-text-bottom"></span>
           Types de contrat
          </a>
        </li>
      </ul>
    </div>
