<header id="head" class="{{!routeModule?.url?.includes('accueil')? 'secondary': ''}}">
    <div class="container" *ngIf="routeModule?.url?.includes('accueil')">
        <div class="row">
            <h1 class="lead" >GS2E WEB_RECRUTE</h1>
            <p class="tagline">PROGRESSUS: free business bootstrap template by <a href="http://www.gettemplate.com/?utm_source=progressus&amp;utm_medium=template&amp;utm_campaign=progressus">GetTemplate</a></p>
            <br><br><br><br><br><br><br><br><br>
            <p><a class="btn btn-default btn-lg" role="button">OFFRES DISPONIBLES</a> <a class="btn btn-action btn-lg" role="button">DETAILS DES OFFRES</a></p>
        </div>
    </div>
</header>
<!-- /Header -->


