<footer class="container-fluid">
    <div class="row pt-5 pb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <h2 class="fw-bold">Pourquoi intégrer nos equipes</h2>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <div class="divider-section"></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">

                <div class="container">
                    <div class="row">
                        <div class="offset-md-2 col-md-3 col-sm-12">
                            <h4 class="fw-bold"><i class="fa-solid fa-user-check"></i> ENTREPRISES SERIEUSES ET CERTIFIÉES </h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                                quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <h4 class="fw-bold"><i class="fa-solid fa-chart-simple"></i> CADRES DE TRAVAIL IDEAL & ATTRACTIF</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                                quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <h4 class="fw-bold"><i class="fa-solid fa-file-circle-check"></i> VIE PROFESSIONNELLE EVOLUTIVE</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                                quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>